.post{
    padding: 5px;
    .container{
        padding: 5px;
        min-width: 600px;
        .user{
            .userInfo{
                display: inline-block;
                .details{

                }
            }
        }
        .content{}
        .info{}
    }
}