
  .Options_sidebar {
    height: 100%;
    width: 250px;
    background-color: rgb(208, 202, 202);
    border-color: black;
    border-radius: 5%;
    top: 0;
    margin-left: 4px;
  }

  .Options_sidebarList{
    height: auto;
    padding: 6px;
    width: 100%; 
   
  }

  .SidebarList .row{
    width: 100%; 
    height: 50px;
    list-style-type: none; 
    /* all list items the same */
    margin: 0; 
    display: flex; 
    flex-direction: row; 
    
    /* icons and text in the row */
    align-items: center;
    justify-content: center;
    color: blue;
  }
