.filtersidebar {
    background-color: #EFF2F1;
    padding: 2%;
    width: 280px;
}

.filtersidebarcategory {
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.filterheadings{
    text-align: center;
}

.filterbuttonsrow{
    margin: auto;
    padding-top: 10px;
    display:flex;
    flex-direction: row;
    width: 95%;
}
