.filtersidebar {
    max-width: 260px;
}

.multiselect-container {
    background-color: white;
}
/*

.filtersidebarcategory {
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.filterheadings{
    text-align: center;
}

.filterbuttonsrow{
    margin: auto;
    padding-top: 15px;
    width: 95%;
}*/
